<p>First Name: {{input value=firstName}}</p>
<p>Last Name</p>
<p>Address1</p>
<p>Address2</p>
<p>City</p>
<p>State</p>
<p>Zip (5 or 9 digit)</p>
<p>Country (US only)</p>

<button {{action 'register'}}>Register</button>
